.media-heading {
  padding-left: 10px;
  font-family: Tahoma;
}

.descr {
  font-family: Georgia;
  margin: 5px 0;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: rgb(223, 234, 236);
}

.wrapper-search-bar {
  margin: 10px 0 10px 0;
  text-align: center;
  background: rgb(223, 234, 236);
  padding: 10px;
  border: 1px solid rgb(183, 225, 243);
  border-radius: 4px;
}

.wrapper-search-bar input {
  width: 50%;
  padding-left: 5px;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

iframe {
  border-radius: 5px;
}