.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(68, 6, 139);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.jumbotron {
  padding: 20px 0 20px 0;
  margin-bottom: 20px;
}

.row {
  margin-top: 20px;
}

.logos {
  cursor: pointer;
}

.label-danger {
  background: rgb(190, 1, 1);
  color: white;
  padding: 3px;
}

.progress {
  margin-top: 2px;
  margin-bottom: 2px;
}