.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(46, 69, 196);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.list {
  list-style: none;
  font-size: 24px;
  background-color: rgb(34, 94, 0);
  color: #ffffff;
  margin: 10px 40%;
  border-radius: 10px;
  box-shadow: 3px 3px 2px rgb(28, 5, 110);
  padding: 5px;
  cursor: pointer;
}

.btn-btn {
  width: 280px;
  background-color: rgb(70, 67, 67);
  color: white;
  font-size: 26px;
  padding: 10px;
  border-radius: 14px;
}

